.contact {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 40%;
    height: 80%;
    justify-content: center;

    > h2 {
      font-size: 3rem;
      text-transform: uppercase;
      margin: 2rem, 0;
    }

    > input,
    > textarea,
    > button {
      padding: 1rem;
      outline: none;
      border: 1px solid rgba(202, 202, 202);
      margin: 0.5rem;
      width: 100%;
      border-radius: 10px;
    }

    > button {
      text-transform: uppercase;
      border: none;
      background-color: red;
      color: white;
      cursor: pointer;
      font-size: 2rem;
    }
  }
  // > FormBorder {
    
  // }
}
