// home css
.home {
  height: 95vh;
  overflow-x: hidden;
  > div {
    padding-left: 8rem;
    padding-top: 15rem;
    > h1 {
      font-size: 4rem;
      text-transform: uppercase;
    }

    > p {
      text-transform: uppercase;
      font-size: 1.2rem;
    }
  }

  > a {
    text-transform: uppercase;
    display: block;
    margin: 2rem 8rem;
    background-color: red;
    width: 10rem;
    color: white;
    text-align: center;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    &:hover {
      color: red;
      background-color: white;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../assets/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    z-index: -1;
  }
}

// responsive nature
@media screen and (max-width: 600px) {
  .home {
    height: 90vh;
    > div {
      text-align: center;
      justify-content: center;
      align-items: center;
      padding-left: 0rem;
    }
    > a {
      margin: 2rem auto;
    }
    background-image: url("../assets/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
