.profile {
  // background-image: url('../../src/assets/');
  // background-repeat: no-repeat;
  // background-size: cover;
  width: 100%;
  height: 100vh;
  > main {
    height: 100%;
    background-color: white;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    > img {
      height: 15rem;
      width: 15rem;
      border-radius: 10%;
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.146);
      margin: 2rem;
    }
    > h5 {
      font-size: 2rem;
      padding-bottom: 1rem;
    }
    > div {
      margin: 1rem;
      > a {
        background-color: red;
        color: white;
        padding: 0.7rem 1.5rem;
        font-size: 1rem;
        border-radius: 5px;
      }
    }
    > button {
      border: none;
      outline: none;
      padding: 0.5rem;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 500;
      font-size: 1rem;
      background-color: red;
      color: white;
    }
  }
}